$default-background: rgb(241, 234, 225);
$on-focus: rgb(187, 160, 125);
$error: rgb(170, 26, 26);
$search-links-background: rgb(245, 238, 229);
$search-links-border: rgb(228, 208, 183);
$search-links-background-on-focus: rgb(204, 187, 165);
$dark: rgb(86, 82, 82);
