// FONT-SIZE
$font-size-xs: 12px;
$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 30px;
$font-size-xl: 50px;
// PADDING
$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;
// MARGIN
$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
// BORDER
$border-xs: 1px;
$border-s: 1.5px;
$border-m: 2px;
$border-l: 3.5px;
$border-xl: 5px;
// BORDER-RADIOS
$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 15px;
// LETTER-SPACING
$letter-spacing-s: 1.5px;
$letter-spacing-m: 3px;
$letter-spacing-l: 5px;
//FAVORITE-IMAGE-SIZE
$favorite-img-size-l: 200px;
$favorite-img-size-m: 150px;
$favorite-img-border-radius: 20%;
